################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/3DScene/Debug
/Debug
/3DScene.VC.db
/3DScene.VC.VC.opendb
